*{
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family:universltstd-ultracn;
    src: url(../fonts/universltstd-ultracn.woff);
}
@font-face {
    font-family:universltstd-light-webfont;
    src: url(../fonts/universltstd-light-webfont.woff);
}
@font-face {
    font-family:lte50070-webfont;
    src: url(../fonts/lte50070-webfont.woff);
}
@font-face {
    font-family:brandon_med-webfont;
    src: url(../fonts/brandon_med-webfont.woff);
}

.mydiv{
    z-index: 1000;
    top: 50px;
    position: fixed;
    width: 200px;
    display: flex;
    height: 60px;
}


/* github edit test1 */

.mydiv.col-md-12 img{
    max-height:100%;
    width:100%;
}
#disappear{
    /*disappear*/
}

/**/
/**/
#bg
/**/

.container-fluid {
      padding:0;
      margin:0;
    }

.nomargin{
    margin:0; !important;
}
.nopadding{
    padding: 0; !important;
}
.container-fluid{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0;
}
.row{
    width:100%;
    height:auto;
    margin-left: 0;
    margin-right: 0;
}
.row-size-1{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height:373px;
}
.row-size-2{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 746px;
}
.row-size-3{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height:1119px;
}
.body{
    font-family: universltstd-light-webfont;
    color: #aaa;
}
.img-fluid{
    max-height: 373px;
    width :100%;
}
.image_strech {
    height: 373px;
    max-height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-area{
    display: table-cell;
    text-align: center;
 /* margin: 0 15%;  */
    padding: 10%;
    vertical-align: middle;
}

.text-area h3{
    color: #0083DD;
    margin-bottom: 30px;
    letter-spacing: 3px;
     font-style:normal;
    font-family: brandon_med-webfont;
    font-weight: 400;
    font-size: 12px !important;

}
.text-area p{
    text-align: left;
    line-height: 24px;
    font-size: 16px;
}
.bounding-box {
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
}
/*.bounding-box {
  background-image: url(http://placehold.it/1600x900);
  background-size: cover;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}
*/
.h4#aq{
    height: 110px;

}
#image {
    height:100%;
    border-collapse:collapse;
}

/*........div contain image as baackground   */

#bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
}

/*.....................palzileri............ */
#bg.palzileri{

    background-image: url(../image/palzileri.jpg);
    background-position-x:25%;
    height: 746px;
}

/*....................assos..................*/
#bg.assos{
    background-image: url(../image/assos.jpg);
    height: 746px;
}

/*...................scruud..................*/
#bg.scruud{
    background-image: url(../image/scruud.jpg);
    height: 373px;
}
/*...................mediaset..................*/
#bg.mediaset{
    background-image: url(../image/mediaset.jpg);
    height: 373px;
}
/*...................fornasetti..................*/
#bg.fornasetti{
    background-image: url(../image/fornasetti.jpg);
    height: 746px;
}
/*...................ferrari..................*/
#bg.ferrari{
    background-image: url(../image/ferrari.jpg);
    height: 746px;
}
/*...................citco..................*/
#bg.citco{
    background-image: url(../image/citco.jpg);
    height: 373px;
}
/*...................premi..................*/
#bg.premi{
    background-image: url(../image/premi.jpg);
    height: 373px;
}


.qoutes{
    height: 373px;
}

.tile{
    width:100%;
    max-height: 746px;
    position: relative;
    padding: 10px 10% 10% 10%;
}


.credit{
    position: absolute;
    bottom: 5%;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 0.9;
    line-height: 1px;
    font-size: 12px;
}

}
.caption{
    width:33.33%;
}
.caption h4{
     letter-spacing: 3px;
    font-style:normal;
    font-family: brandon_med-webfont;
    font-weight: 400;
    font-size: 12px;
}
.caption p{
    letter-spacing: 0.05em;
    font-size: 17px;
    opacity: 0.7;
    font-family: lte50070-webfont;
    color: white;
}
.credit h4{
    letter-spacing: 2px;
    font-size: 12px;
    color: white;
    font-family: universltstd-light-webfont;

}

.button{
    background-color: transparent;
    border:0;
}
.button:focus{
    outline: transparent;
}
.button img{
    width: 50%;
    top: 50%;
    margin: 15px;
}

.social-wall{
    background-color: rgb(238, 238, 238);
    padding: 15% 5%;
    height: 373px;
    max-height: 100%;
}
.image-strech{
    max-height: 373px;
}

.div_hover{
    background-color:#0083DD;
}
.div_hover:hover{
    background-color: #0071CC;
}
.text-hover:hover{
    color: cornflowerblue;
}
/* Classes */
.pull-left:hover {
  float: left !important;
}
.pull-right:hover {
  float: right !important;
}

/* Usage as mixins */
.element {
  .pull-left();
}
.another-element {
  .pull-right();
}


.float{
    float: left;
}
.text{

    font-size: 15px;
    font-stretch: expanded;
    font-weight: bold;
    line-height: initial;
    color: blue;
}
.icon{
    padding-left: 25%;
}

.des-text p{
    font-size: 20px;
    font-weight: 200;
}

.des-text {
    padding: 10% 10%;
}

.modal-body {
    height:100%;
    width: 100%;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
.modal-row{
    height:100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
}
.modal-col-menu{
    width: 33.33%;
}
.modal-col-content{
    width: 70%;
    padding: 20px;
    margin:50px 10px 10px 0;
    color:white;
    text-align: center;
}


.modal-mydiv{
    top: 50px;
    width: 200px;
    display: flex;
    height: 60px;
    margin: 50px 10px 10px 0;
   /* border: 3px solid #73AD21; */
}
#GSCCModal{
    background-color: rgba(0, 171, 232, 0.9);
}

.cloose{
    width: 100%;
    float: none;
    line-height: 2;
    text-shadow: none;
    background-image: #00abe8;

}
.menu-row{
    width:100%;
    border-bottom:2px solid rgba(255, 255, 255, 0.3);
    opacity: 0.5;
    height: initial;
    padding: 10px;

}
.menu-row:hover {
    border-bottom:2px solid rgb(255, 255, 255);
    opacity: 0.7;
}
/*
.menu-row h3{
    margin-top:10px;
}
.menu-row h3:hover{
    opacity: 0.5;
}*/
.link{
    color: white;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    font-size: 25px;
    letter-spacing: 5px;
}

.link:hover, .link:focus {
    color: white;
    text-decoration: none;
    outline: 0;

}

/*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        */

.heading{
    font-size: 12px;
    letter-spacing: 3px;
    font-style:normal;
    font-family: brandon_med-webfont;
    font-weight: 400;
    color: #0083DD;
    line-height: 25px;
}
.text{

    font-size: 13px;
    line-height: initial;
    color: #0083DD;
    letter-spacing: 3px;
    font-weight: 600;
}
span.title{
    text-transform: uppercase;
}
